*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}


.welcome{
    font-family: cursive ;
    text-decoration: red;
    font-style: italic;
    padding-left: 70px;
    padding-top: 200px;
    font-size: 100px;
    color: blue;
}